.menuButtonContainer {
    position: relative;
    display: flex;
    flex-direction: column;

    label {
        color: var(--text-primary);
        font-weight: 500;
        cursor: pointer;
    }

    .menuButton {
        width: 108px;
        height: 32px;
        color: var(--text-primary);
        background-color: var(--button-bg);
        box-shadow: var(--shadow);
        border-radius: var(--radius-2);
        text-align: left;
        font-family: var(--font-primary);
        font-size: 14px;
        font-weight: 500;
        padding: 0px 12px;
        cursor: pointer;
    }

    .menuButton:hover {
        background-color: var(--button-hover-bg);
        color: var(--text-hover);
        box-shadow: none;
    }

    .menuButton[data-menu-is-open='true'] {
        background-color: var(--button-hover-bg);
        color: var(--text-hover);
        box-shadow: none;
    }
    
    .arrow {
        content: '';
        position: absolute;
        border-color: var(--text-primary);
        border-style: solid;
        border-width: 0 0.15em 0.15em 0;
        top: 2.2em;
        left: 4.3em;
        height: 0.55em;
        width: 0.55em;
        transform: rotate(45deg);
        margin-left: 16px;
        text-align: right;
        transition: transform 200ms, translate 200ms;
        pointer-events: none;
    }

    .rotate {
        transform: rotate(225deg);
        translate: 0 0.26em;
        border-color: var(--text-hover);
    }
}

.menuButtonContainer:hover {
    .arrow {
        border-color: var(--text-hover);
    }
}
