#container {
    position: relative;
    width: 108px;

    .menuItems {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        top: 61px;
        width: 156px;
        height: 112px;
        background-color: var(--button-bg);
        box-shadow: var(--shadow);
        border-radius: var(--radius-2);
        padding: 8px;
    }
}
