.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 54px;
    width: 100dvw;
    background-color: var(--header-bg);
    box-shadow: var(--header-shadow);

    .container {
        display: flex;
        justify-content: space-between;
        width: 100dvw;
        max-width: 2000px;
        padding: 0 10px;

        .logoContainer {
            display: flex;

            .iconContainer {
                position: relative;

                .iconText {
                    position: absolute;
                    top: -4px;
                    margin-left: 14px;
                    color: var(--site-bg);
                    font-size: 34px;
                    font-weight: bold;
                    z-index: 2;
                }

                .icon {
                    position: absolute;
                    top: -12px;
                    width: 60px;
                    height: 60px;
                }
            }

            .logoText {
                margin-top: 11px;
                margin-left: 44px;
                color: var(--text-logo);
                font-size: 20px;
                font-weight: 500;
            }
        }

        @media (max-width: 1000px) {
            .logoContainer {
                display: none;
            }
        }

        .heading {
            color: var(--text-primary);
            font-size: 20px;
            font-weight: 400;
            margin-top: 4px;
            margin-left: 3px;
        }
        @media (min-width: 1001px) {
            .heading {
                display: none;
            }
        }

        .navMenuItems {
            display: flex;
            align-items: center;
            margin-right: 10px;
        }
        @media (max-width: 1000px) {
            .navMenuItems {
                display: none;
            }
        }
    }
}

@media (max-width: 1000px) {
    .header {
        height: 50px;
        box-shadow: none;
    }
}
