.mobileMenuContainer {
    display: flex;
    position: relative;

    .hamburgerMenuButton {
        align-self: center;
        width: 40px;
        height: 40px;
        background-color: transparent;
        cursor: pointer;

        svg {
            fill: var(--hamburger-button);
            margin: 0 4px 2px 0;
        }
    }

    .container {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        // background-color: var(--site-bg);
        background-color: var(--header-bg);
        height: 100dvh;
        width: 100dvw;
        left: calc(-100dvw + 50px);
        top: 54px;
        padding-top: 40px;
        z-index: 3;

        ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;

            li {
                list-style: none;

                button {
                    background-color: transparent;

                    .link {
                        font-size: 40px;
                        color: var(--text-primary);
                    }
                }

                button:hover {
                    .link {
                        color: var(--text-hover);
                    }
                }
            }
        }
    }

    .open {
        animation: fadein 200ms cubic-bezier(0, 0.89, 0.17, 0.82) forwards;
    }

    .closed {
        animation: fadeout 300ms ease forwards;
    }
}

@media (min-width: 800px) {
    .mobileMenuContainer {
        display: none;
    }
}

@keyframes fadein {
    from {
        transform: translateX(30%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(100%);
        opacity: 0;
    }
    0% {
        opacity: 0.6;
    }
    40% {
        opacity: 0;
    }
}
