$color-black: #000;

$color-blue-1: #ADD2FF;
$color-blue-2: #609FED;
$color-blue-3: #3E89E5;
$color-blue-4: #24A0ED;
$color-blue-5: #00204A;

$color-gray-1: #EAF3FF;
$color-gray-2: #CDD9E5;
$color-gray-3: #B7CDE7;
$color-gray-4: #8FAAC6;
$color-gray-5: #7F94AA;
$color-gray-6: #537393;
$color-gray-7: #354C62;
$color-gray-8: #56616B;
$color-gray-9: #2D333B;
$color-gray-10: #22272E;
$color-gray-11: #1B2026;

$color-green-1: #E6FCEB;
$color-green-2: #8FE994;
$color-green-3: #2FB236;
$color-green-4: #263B34;
$color-green-5: #222D2C;
$color-green-6: #111715;

$color-red: #FF5050;

$color-white: #fff;

$background: $color-white;
$tag-text: $color-green-3;

@mixin light-mode {
    background-color: $background;
}
@mixin dark-mode {
    $background: $color-black;
    $tag-text: $color-green-2;
    background-color: $background;
}

// @media (prefers-color-scheme: light) {
//         @include light-mode;
// }
// @media (prefers-color-scheme: dark) {
//         @include dark-mode;
// }

body.light {
    @include light-mode;
}
body.dark {
    @include dark-mode;
}
// body.flat-dark {
// }

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 1vw;
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}
