@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

:root {
    --color-black: #000;

    --color-blue-1: #add2ff;
    --color-blue-2: #609fed;
    --color-blue-3: #3e89e5;
    --color-blue-4: #24a0ed;
    --color-blue-5: #00204a;

    --color-gray-1: #eaf3ff;
    --color-gray-2: #cdd9e5;
    --color-gray-3: #cddcef;
    --color-gray-4: #8faac6;
    --color-gray-5: #7f94aa;
    --color-gray-6: #537393;
    --color-gray-7: #354c62;
    --color-gray-8: #444c58;
    --color-gray-9: #2d333b;
    --color-gray-10: #22272e;
    --color-gray-11: #1b2026;
    // F8FBFF, f5f8fc
    --color-gray-12: #f0f6fd;
    --color-gray-13: #e3ecf9;

    --color-green-1: #e6fceb;
    --color-green-2: #8fe994;
    --color-green-3: #2fb236;
    --color-green-4: #263b34;
    --color-green-5: #222d2c;
    --color-green-6: #111715;

    --color-red: #ff5050;

    --color-white: #fff;

    --radius-1: 0.6em;
    --radius-2: 0.35em;
    --radius-3: 0.2em;
}

@mixin light-mode {
    --button-bg: var(--color-gray-12);
    // #effaff
    --button-hover-bg: var(--color-gray-13);
    --hamburger-button: var(--color-gray-4);
    --header-bg: var(--color-white);
    --header-shadow: 0em 0.1em 0.5em 0em var(--color-gray-3);
    --shadow: 0px 2px 4px 0px var(--color-gray-3);
    --site-bg: var(--color-white);
    --tag-active: var(--color-white);
    --tag-inactive: var(--color-green-1);
    --tag-text: var(--color-green-3);
    --text-primary: var(--color-gray-6);
    --text-hover: var(--color-gray-6);
    --text-logo: var(--color-blue-2);
    background-color: var(--site-bg);
}
@mixin dark-mode {
    --button-bg: var(--color-gray-11);
    --button-hover-bg: var(--color-gray-9);
    --hamburger-button: var(--color-gray-5);
    --header-bg: var(--color-black);
    --header-shadow: 0em -0.1em 0.1em 0.1em var(--color-gray-11);
    --shadow: none;
    --site-bg: var(--color-black);
    --tag-active: var(--color-green-2);
    --tag-inactive: var(--color-green-6);
    --tag-text: var(--color-green-2);
    --text-primary: var(--color-gray-2);
    --text-hover: var(--color-white);
    --text-logo: var(--color-gray-2);
    background-color: var(--site-bg);
}

@mixin flat-dark-mode {
    --button-bg: var(--color-gray-9);
    --button-hover-bg: var(--color-gray-8);
    --hamburger-button: var(--color-gray-5);
    --header-bg: var(--color-gray-9);
    --header-shadow: 0em 0.1em 0.3em 0em var(--color-gray-11);
    --shadow: 0em 0.1em 0.3em 0em var(--color-gray-11);
    --site-bg: var(--color-gray-10);
    --tag-active: var(--color-green-4);
    --tag-inactive: var(--color-green-5);
    --tag-text: var(--color-green-2);
    --text-primary: var(--color-gray-2);
    --text-hover: var(--color-gray-1);
    --text-logo: var(--color-gray-2);
    background-color: var(--site-bg);
}

@media (prefers-color-scheme: light) {
    body {
        @include light-mode;
    }
}
@media (prefers-color-scheme: dark) {
    body {
        @include dark-mode;
    }
}

body.light {
    @include light-mode;
}
body.dark {
    @include dark-mode;
}
body.flat-dark {
    @include flat-dark-mode;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 16px;
    -moz-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    -webkit-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
}

html,
body {
    max-width: 1vw;
    overflow-x: hidden;
    font-family: 'Poppins';
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    border: none;
}
